---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
import HeroCinematic from '../components/home/HeroCinematic.astro';
import FeaturedBook from '../components/home/FeaturedBook.astro';
import AboutTeaser from '../components/home/AboutTeaser.astro';
import LatestDispatches from '../components/home/LatestDispatches.astro';
import NewsletterCTA from '../components/NewsletterCTA.astro';
---

<Layout title="Glenn Dyer | Author of the Conor Thorn WWII Espionage Series">
  <NavBar activePage="home" />
  <HeroCinematic />
  <FeaturedBook />
  <AboutTeaser />
  <LatestDispatches />

  <div>
    <div class="max-w-[1280px] mx-auto px-4 md:px-8 lg:px-16">
      <NewsletterCTA variant="dark" />
    </div>
  </div>

  <Footer />
</Layout>
